#hero {
  .text-center {
    margin-top: 80px;
  .st0{
    fill: #33220b}
  }
  .name {
    margin-top: 150px;
  }
}

#section1 {
  margin-top: 400px;
  }
  .st0{
    fill: #353535;
  }



#menu-jc-menu {
  float: right;
  }

.navbar-default{
  background-color: #fff;
  border: none;
  }
