#hero {
  .hair-logo {
    margin-top: 50px;
  .st0{
    fill: #33220b}
  }
  h1 {
    margin-top: 10px;
    font-family: Roboto-Thin;
  }
}

#menu-jc-menu {
  float: right;
}

.navbar-default{
  background-color: #fff;
  border: none;
}

.navbar-brand {
  float: left;
  letter-spacing: 0px;
  font-size: 20px;
  font-family: Roboto-Regular;
}

.container {
  margin-top: 0px;
}
