#section1 {
  margin-top: -30px;
  .st0 {
    fill:#6da2a3
  }
  .st1{
    fill: #353535;
  }
}

.companies {
  margin-top: 50px;
}

.col-md-4 {
  margin-top: 80px;
}


.btn {
	background-color: #6da2a3;
	border: 1px solid mix(black, #fff, 25%);
	border-radius: 5px;
	padding: .50em .50em;
  font-family: Roboto-Thin;

&:hover {
		cursor: pointer;
		background-color: mix(black, #4f1f59, 15%);
		border-color: mix(black, #353535, 40%);
    }
  }
