/* Contains about-list & video */
#section1 {
  margin-top: 5px;
  .st0 {
    fill:#6da2a3
  }
  .st1{
    fill: #353535;
  }
  .about-list {
    svg {
      margin: auto;
      padding: 0 24px;
      @media (min-width: $screen-sm-min) {
        padding: 0;
      }
    }
  }
  .video {
    margin-top: 50px;
    }
  }

/*  ABOUT PAGE */
/* Top Text */
  .photo {
    margin-top: 10px;
  }

  .name {
    margin-top: 10px;
    letter-spacing: .60em;
  }

  .info {
    font-size: 12px;
    margin-top: 2px;
    letter-spacing: .10em;
  }

  .about-copy {
  margin-top: 50px;
  line-height: 2.0em;
  font-size: 16px;
  font-family: Roboto-Regular;
  color: #353535;
  }

/* Bottom Text */
  .about-copy-2 {
    margin-top: 50px;
    line-height: 1.4em;
    font-size: 30px;
    font-family: Roboto-Regular;
    color: #6da2a3;
  }

/* Rundown svg */
  .st0 {
    fill:#353535
  }

  .about-rundown {
    margin-top: 50px;
  }

  svg {
    margin: auto;
    padding: 0px;
    @media (min-width: $screen-sm-min) {
      padding: 0;
  }
}

  .about-inquire {
    margin-top: 50px;
  }

/* PROJECT PAGE */
/* Videos */
  .category-1 {
    margin-top: 50px;
  }

  .category-2 {
    margin-top: 50px;
  }

  .category-3 {
    margin-top: 50px;
  }

  .category-4 {
    margin-top: 50px;
  }

  .wistia_playlist {
    margin-top: 20px;
  }

/* BLOG PAGE */
/* Featured Category */
  .intro {
    font-size: 35px;
    color: #6da2a3;
    font-family: Roboto-Light;
  }

  .row {
    margin-top: 30px;
  }

  .thumbnail {
    margin-bottom: 0px;
    border: #fff;
    background-color: #fff;
}

  .p {
    display: none;
  }

/* CONTACT PAGE */
/* (place GF here) */

  .hours {
    margin-top: 10px;
  }

  .companies {
    margin-top: 50px;
    margin-bottom: 0px;
  }

/* GRAVITY FORMS */
/* GF's are on section1, Blog and Contact page */

/* Add GF Here */
