body {
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1, h2, h3, p, a {
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#hero {
h1 {
  @media (min-width: $screen-sm-min) {
    padding: 0;
    margin-top: 50px;
    letter-spacing: 1.0em;
    font-size: 45px;
    font-weight: 100;
    color: #353535;
    }
  }
}

h2 {
  font-family: Roboto-Light;
  letter-spacing: .70em;
  color: #353535;
  font-size: 30px;
}

h3 {
  font-weight: 300;
  letter-spacing: .50em;
  color: #6da2a3;
  margin-bottom: 5px;
}

h4 {
  font-family: Roboto-Thin;
  font-size: 20px;
  font-weight: 400;
  color: #353535;
}

h5 {
  font-family: Roboto-Light;
  color: #353535;
}

p {
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto-Regular;
  color: #353535;
  letter-spacing: .05em;
  margin: 0 0 20px;
}

a {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: .20em;
}

strong {
  font-family: Roboto-Bold;
  color: #353535;
}

/* Text on About Page/Blog Posts */
.main {
  margin-top: 0px;
  line-height: 1.5em;
  font-family: Roboto-Regular;
  color: #353535;
}
