#footer {
  margin-top: 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-footer {
  font-size: 20px;
  letter-spacing: 0em;
  color: #777;
  font-family: Roboto-Regular;
}

.footer-creator {
  strong {
    font-size: 18px;
    color: #6da2a3;
  }
}
