#hero {
  .hair-logo {
    margin-top: 50px;
  .st0{
    fill: #33220b}
  }
  h1 {
    margin: 100px 0 100px 35px;
    letter-spacing: 1.36em;
    font-size: 25px;
    font-family: Roboto-Thin;
  }
}

#menu-jc-menu {
  float: right;
}

.navbar-default{
  background-color: #fff;
  border: none;
  color: #777;
}

.navbar-brand {
  float: left;
  letter-spacing: 0px;
  font-size: 20px;
  font-family: Roboto-Regular;
}

.container {
  margin-top: 0px;
}
